:root{
    --green: #0C5426;
    --blue: #1CA0DE;
    --yellow: #F4D217;
    --gray: #374746;
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

body{
    margin: 0;
    /*font: 100% Fedra-Sans-Std-Bold, sans-serif;*/
    font-family: 'Roboto', sans-serif !important; 

    background-color: white;
    text-align:center;
    align-content: center;
    color: var(--green);
    font-size: 1.1em !important;
    text-align: center;
}

header h1{
    margin-bottom: 0;
    font-weight: 300;
}

/* DIVIDER */
.divider{
    width: 100%; 
    height: 10px;
    border-bottom: 2px solid var(--yellow); 
    text-align: center;
}

#ucvalue{
    font-size: 1.1em; 
    color: var(--green);
    background-color: white; 
    padding: 0 10px;
}

/* END DIVIDER */

/* ICONS button.ubtn */
.svg-inline--fa{
    height: auto !important;
    width: 2em !important;
    vertical-align: middle;
   /* float: left;*/
}

/*FELCHA ICON*/
button.ubtn .fa-angle-right{
    height: auto !important;
    width: 1.1em !important;
    vertical-align: middle;
    float: right;
}

button.ubtn{
    line-height: 50px;
    text-align: left;

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}


@media only screen and (max-width: 768px){
    button.ubtn{
        width: 82%;
    }

}

button{
    border-radius: 10px;
    transition: 0.4s;
    clear: both;
    background-color: var(--green);
    width: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 1.125em;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0.3em 0.8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover{
    background-color: #3f6a45;
}

/* button:focus{
    background-color: #3f6a45;
} */



/* TABLAA MATERIAS*/
.tabla{
    width: 80%;
	display: inline-block;
    align-content: center;
}

.headTable{
    border-bottom: 0.125em solid var(--green);
    text-align: left;
    font-weight: 400;

}

.headTable .head{
	display: inline-block;
	vertical-align: top;
}

.tabla .foot{
    border-top: 0.125em solid var(--green);
    margin-top: 0.2em;
    text-align: right;
    font-weight: 400;
}

.mat{
    padding-left: 1em;
    width: 55%;  
}

.tax{
    width: 18%;
}

.uc{
    width: 15%;
}

.tbtn{
    /*Same width of table*/
    width: 80%;
}

#textTable{
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    color: var(--gray);
}

button.cbtn{
    padding: 0.3em 4%;
    width: 42%;
}

button.cbtn .svg-inline--fa {
    height: auto !important;
    width: 1.5em !important;
}

div.line {
    display:table;
    width:100%;
    
}
div.line span {
    display:table-cell;
    text-align:center;
}

table{
    /*border: 1px solid black;*/
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td{
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nMat{
    font-weight: bold;
    width: 60%;
}

.container{
    border: 2px solid var(--green);
    border-radius: 10px;
    margin-top: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
/* END TABLA  MATERIAS*/


/* TABLA PAGOS */
.svg-inline--fa.fa-question-circle{
    cursor: pointer;
    width: 1em !important;
}

table#tablaPagos{
    table-layout: auto;
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--gray);
}


@media only screen and (max-width: 768px){
    table#tablaPagos{
        width: 98%;
    }

}

table#tablaPagos, #tablaPagos th , #tablaPagos td {
    /*  border: 1px solid #374746;
      border-collapse: collapse;*/
      margin: 0px auto;
  }
  

#tablaPagos th, #tablaPagos td {
    padding: 5px;
    text-align: center;
    width:fit-content;    
}
  
  table{
      margin-top: 4px;
      padding: 2px;
      
  }

/* END TABLA PAGOS*/


footer{
    background-color: #374746;
    color: white;
    margin: 0;
}

footer a{
    color: white;
}

.ublue{
    color: var(--blue);
}

.ugreen{
    color: var(--green);
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}


/**************** LOAD SYSTEM NEW *****************/

.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-size: contain;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #0C5426;
    border-bottom: 16px solid #FED201;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*****ANIMATION ON LOAD****/

.onLoad {
    /*position: relative;*/
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }