:root{
    --green: #4b7f52;
    --blue: #34B2E4;
    --yellow: #FED201;
    --gray: #374746;
}

body{
    margin: 0;
    /*font: 100% Fedra-Sans-Std-Bold, sans-serif;*/
    font-family: 'Roboto', sans-serif !important; 

    background-color: white;
    text-align:center;
    align-content: center;
    color: var(--green);
    font-size: 1.1em !important;
    text-align: center;
}

header h1{
    margin-bottom: 0;
    font-weight: 300;
}

/* DIVIDER */
.divider{
    width: 100%; 
    height: 10px;
    border-bottom: 2px solid var(--yellow); 
    text-align: center;
}

#ucvalue{
    font-size: 1.1em; 
    color: var(--green);
    background-color: white; 
    padding: 0 10px;
}

/* END DIVIDER */

/* ICONS button.ubtn */
.svg-inline--fa{
    height: auto !important;
    width: 2em !important;
    vertical-align: middle;
   /* float: left;*/
}

/*FELCHA ICON*/
button.ubtn .fa-angle-right{
    height: auto !important;
    width: 1.1em !important;
    vertical-align: middle;
    float: right;
}

button.ubtn{
    line-height: 50px;
    text-align: left;
}


@media only screen and (max-width: 768px){
    button.ubtn{
        width: 82%;
    }

}


button{
    border-radius: 10px;
    clear: both;
    background-color: var(--green);
    width: 50%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 1.125em;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0.3em 0.8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button:hover{
    background-color: #3f6a45;
}

button:focus{
    background-color: #3f6a45;
}



/* TABLAA */
.tabla{
    width: 80%;
	display: inline-block;
    align-content: center;
}

.headTable{
    border-bottom: 0.125em solid var(--green);
    text-align: left;
    font-weight: 300;

}

.headTable .head{
	display: inline-block;
	vertical-align: top;
}

.mat{
    padding-left: 1em;
    width: 55%;  
}

.tax{
    width: 18%;
}

.uc{
    width: 15%;
}

.tbtn{
    /*Same width of table*/
    width: 80%;
}

#textTable{
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    color: var(--gray);
}

button.cbtn{
    padding: 0.3em 4%;
    width: 42%;
}

button.cbtn .svg-inline--fa {
    height: auto !important;
    width: 1.5em !important;
}
/* END TABLA */

footer{
    background-color: #374746;
    color: white;
    margin: 0;
}

footer a{
    color: white;
}

.ublue{
    color: var(--blue);
}

.ugreen{
    color: var(--green);
}
