/* BoTON MENU */

#menu {
    /*
    position: absolute;
  margin: auto;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  */
}

header svg.svg-inline--fa.fa-w-14 {
    width: 0.7em !important;
}

p.infoMenu {
    margin: 0 10px;
}

.bback {
    cursor: pointer;
}

.textYellow {
    /*text-shadow: 2px 2px 20px black;*/
    color: #374746;
}

a.menu {
    text-decoration: none;
}

.Dcalc {
    background-color: var(--yellow);
    color: var(--gray);
}

.Dcalc:hover {
    background-color: white;
    color: var(--gray);
}

.Dcalc:hover svg g {
    color: var(--gray);
}

.Dnoti {
    background-color: var(--blue);
    color: white;
}

.Dnoti:hover {
    background-color: white;
    color: var(--blue);
}

.Dnoti:hover svg {
    fill: var(--blue);
}

.Dsocial {
    background-color: white;
    /*color: white;*/
}

.Dsocial:hover {
    /*  background-color: white;
    color: #FED201;*/
}

.Dfab {
    background-color: var(--green);
    color: white;
}

.Dfab:hover {
    background-color: white;
    color: var(--green);
}

.Dfab:hover svg g {
    fill: var(--green);
}

@media (min-height: 740px) {
    .Dnoti, .Dcalc, .Dsocial, .Dfab {
        /*height: 33.33vh;*/
    }
}