/*****************************MODAL********************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: var(--green);
    font-weight: bold;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: var(--green);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@media only screen and (max-width: 768px){
    .modal-content {
        width: 90%;
    }
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.tFacultad{
    text-align: left;
	padding-left: 0.5em;
	border-bottom: 2px solid;
}

.modal-body button{
    /*line-height: 35px;*/
    width: 90%;
    font-weight: normal;
   /* text-transform: uppercase;*/
    vertical-align: middle;
    /*text-align: right;*/
}

#sedeModal .modal-body button, #coopModal .modal-body button{
    font-weight: bold;
}

.modal-body button .svg-inline--fa{
    height: auto !important;
    width: 1.5em !important;
    vertical-align: middle;
   /* float: left;*/
}

/* RANGE CUSTOM IN MODAL**/

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--green);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--green);
    cursor: pointer;
  }

  @media only screen and (max-width: 768px){
    .slider {
        width: 95%;
    }
  }
  /* END RANGE CUSTOM IN MODAL**/

/* MATERIA MODAL */
.labelSemestre{
    text-align: left;
	padding-left: 0.5em;
	border-bottom: 2px solid;
}

/* END MATERIA MODAL */