.one{
    color: #FED201;
}

.two{
    color: #34B2E4;
}

.th{
    color: #005F1D;
}

.container{
    
    background-color: #78c091;
    margin: 2%;
    border-radius: 25px;
    padding: 5px;
	
}

h1{
    text-shadow: 2px 2px #374746;
}

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: white;
    text-align:center;
    align-content: center;
    color: #374746;
}

table, th, td {
    border: 1px solid #374746;
    border-collapse: collapse;
    margin: 0px auto;
}

table{
    margin-top: 5px;
    padding: 2px;
    
}

th, td {
    padding: 5px;
    text-align: center;    
}

.totalizacion{
    visibility: hidden;
}

#btTotal{
    visibility: hidden;
}

.sl_mat{
    text-overflow: ellipsis;
    width:80%;
}