.one{
    color: #34B2E4;
}

.two{
    color: #34B2E4;
}

.th{
    color: #4b7f52;
}

a{
    color: white;
}
.tituloCont{
    /*border-bottom: 5px solid #686868;*/
}

footer{
    background-color: #374746;
    color: white;
}

#num{
	font-size: 1.7em;
}

.top{
    background-color: white;
}

.container{
    
    background-color: #78c091;
    margin: 1%;
    border-radius: 25px;
    padding: 5px;
	
}
h1{
   /*text-shadow: 2px 2px #374746;*/
    text-transform: uppercase;
	border-bottom: 5px solid #FED201;
}
h5{
    text-transform: uppercase;
}
body {
    /*font: 100% Fedra-Sans-Std-Bold, sans-serif;*/
    font-family: "Open Sans", Arial, sans-serif;;
	background-color: white;
    text-align:center;
    align-content: center;
    color: #374746;
    font-size: 1.1em;

 
}

table, th, td {
    border: 1px solid #374746;
    border-collapse: collapse;
    margin: 0px auto;
}

table{
    margin-top: 5px;
    padding: 2px;
    
}

img {
    max-width: 100%;
    height: auto;
}

th, td {
    padding: 5px;
    text-align: center;
    width:fit-content;    
}

.totalizacion{
    visibility: hidden;
}

#tt{
    background-color: #4b7f52; 
    color: white;
}
#btTotal{
    visibility: hidden;
}

.sl_mat{
    width:100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button{
    border-radius: 8px;
    background-color: #4b7f52;
    border: none;
    color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}

#btReload{
    font-size: 0;
}

/* Separador************************************** */

.styled-select {
    background: url(../img/15xvbd5.png) no-repeat 96% 0;
    min-height: 29px;   
    overflow: hidden;
    min-width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
 }
 
 .styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
 }
 
 .styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
 }
 
 .styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
 }
 
 /* -------------------- Rounded Corners */
 .rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
 }
 
 .semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }
 
 /* -------------------- Colors: Background */
 .slate   { background-color: #ddd; }
 .green   { background-color: #779126; }
 .blue { background-color:  #4b7f52; }
 .yellow  { background-color: #eec111; }
 .black   { background-color: #4b7f52; }
 
 /* -------------------- Colors: Text */
 .slate { color: #000 !important;} 
 .green { color: #fff !important;}
 .blue { color: #fff !important;}
 .yellow { color: #000 !important;}
 .black { color: #fff !important;}
 
 
 /* -------------------- Select Box Styles: danielneumann.com Method */
 /* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
 #mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
 }
 
 #mainselection {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
 }
 
 
 /* -------------------- Select Box Styles: stackoverflow.com Method */
 /* -------------------- Source: http://stackoverflow.com/a/5809186 */
 select#soflow, select#soflow-color {
    -webkit-appearance: button;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
 }
 
 select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
 }



#aTouch{
    color: #4b7f52;
}


/*****************************MODAL********************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #4b7f52;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
