.one{
    color: #34B2E4;
}

.two{
    color: #34B2E4;
}

.th{
    color: #4b7f52;
}

a{
    color: white;
}

/*Blue color*/
.blueM{
    color: #34B2E4;
}

/*Green color*/
.greenM{
    color: #4b7f52;
}

.separator{
    background-color: #d6d6d6;
    color: #374746;
    margin: 0;
    overflow: auto;
    padding: 0.2em;
    border-radius: 0.2em;
    text-transform: uppercase;
    
}

/*Elimnar decoracion de texto*/
.noUnder{
    text-decoration: none;
}
/*Numeros grandes*/
#num{
	font-size: 1.7em;
}

/*Alinear elementos*/
.aleft {
	float: left;
}
.aright {
	float: right;
}

/*options div*/
.option{
    overflow: auto;
   margin-bottom: 0.5em;
   margin-left: 1em;
   margin-right: 1em;

}

.top{
    background-color: white;
}

h1{
    text-transform: uppercase;
	border-bottom: 5px solid #FED201;
}
h5{
    text-transform: uppercase;
}

.textYellow{
    /*text-shadow: 2px 2px 20px black;*/
    color: #374746;
}

#addMat{
    width: 100%;
}

body {
    /*font: 100% Fedra-Sans-Std-Bold, sans-serif;*/
    font-family: "Open Sans", Arial, sans-serif !important; 
    background-color: white;
    text-align:center;
    align-content: center;
    /*
    margin: auto;
    max-width: 500px;
    */
    color: #374746;
    font-size: 1.1em !important;

    text-align: center;
}

footer{
    background-color: #374746;
    color: white;
    margin: 0;
}

table, th, td {
    border: 1px solid #374746;
    border-collapse: collapse;
    margin: 0px auto;
}

table{
    margin-top: 4px;
    padding: 2px;
    
}

.bR{
    border-right: 0;
}

.bL{
    border-left: 0;
}

img {
    max-width: 100%;
    height: auto;
}

th, td {
    padding: 5px;
    text-align: center;
    width:fit-content;    
}


.totalizacion{
    visibility: hidden;
}

#tt{
    background-color: #4b7f52; 
    color: white;
}
#btTotal{
    visibility: hidden;
}

.sl_mat{
    width:100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
button{
    border-radius: 8px;
    background-color: #4b7f52;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}


#btReload{
    font-size: 0;
}

.slAgr{
    width: 15em;
}


.select-square{
    background-color: white;
    color: #4b7f52 ;
    border: 2px solid #4b7f52;
    min-height: 2.5em;
	font-size: 0.8em;
}
/*
.select-square:hover{
    background-color: #4b7f52;
    color: white ;
}
*/


img.n{
    height: 1em;
    width: auto;
}

button.n{
    /*background-color: white;*/
    height: 1em;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4b7f52;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4b7f52;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

/*******************/
.thum img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
.thum img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}